<div>
    <br>
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxFlex>
        <button  (click)="addUser()" mat-raised-button color="warn"> Ajouter un Utilisateur </button>
      </div>
      <br><br>
      <div >
        <table fxFlex>
          <thead>
            <tr>
              <th>Cin</th>
              <th>Nom</th>
              <th>Date de naissance</th>
              <th>Login</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody class="centre">
            <tr *ngFor="let user of users">
              <td>{{ user.cin }}</td>
              <td>{{ user.nom }} </td>
              <td>{{ user.date_naiss }} </td>
              <td>{{ user.login }} </td>
              <td>{{ user.email }} </td>
              <td>
                <button mat-raised-button (click)="modifierListe(user)"> Modifier</button>
              </td>
              <td>
                <button mat-raised-button color="accent" (click)="supprimer(user)"> Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>